.aladdin-wrap {	
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 120000;
	background: rgba(0,0,0,0.5);
}

.aladdin-field {
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
	background: #23282d;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input.aladdin-text {
	border: none;
	border-radius: 2px;
	padding: 20px;
	width: 500px;
}

input.aladding-text:focus {
	border: 0;
}

.autocomplete-suggestions {
	box-sizing: border-box;
	background: #23282d;
	padding: 10px 15px 15px 15px;
	overflow: auto;
	z-index: 200000 !important;
}

.autocomplete-suggestion {
	padding: 10px;
	white-space: nowrap; 
	overflow: hidden;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #eee;
	font-size: 15px;
}

.autocomplete-selected {
	background: #0073aa;
	border-radius: 2px;
	cursor: pointer;
}

.autocomplete-selected strong {
	color: #fff;
}

.autocomplete-group {
	margin: 10px 0 15px;
}

.autocomplete-group strong {
	display: block;
	font-size: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 5px;
	color: rgba(255,255,255,0.3);
}
